body{
  font-family: roboto;
  background-color:rgb(42, 42, 42);
  margin-top:0px;
  margin-right:0;
  margin-left:0;
  padding-top:60px;
  padding-left:60px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
p {
  margin-top:0;
  margin-bottom:0;
  }


.thumbnail{
  width:100%;
  height:auto;
  object-fit:cover;
}