.header1 {
  height:60px;
  display:flex;
  position:fixed;
  flex-direction: row;
  z-index:1;
  top:0;
  left:0;
  right:0;
  backdrop-filter:blur(10px);
}
.header {
  height:50px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  z-index:100;

  position:fixed;
  top:10px;
  left:0;
  right:0;
}
.header-left-section {
  display:flex;
  align-items:center;
  width:100px;
  justify-content:center;
  flex-shrink:0;
  background:rgb(31, 31, 31);
  border-radius:30px;
  margin-left:10px;
}
  .emojis{
    height:34px;
    margin:2px;
  }
.header-middle-section {
  background-color:rgb(31, 31, 31);
  border-radius:30px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex:1;
  width:0;
  max-width:536px;
  margin-left:60px;
  margin-right:40px;
  
}
  .search-bar {
    width:0;
    max-width:500px;
    flex:1;
    height:34px;
    margin-left:16px;
    padding-left:10px;
    font-size:16px;
    border-style:none;
    background-color: rgb(31, 31, 31);
    color:white;
  }
    .search-bar::placeholder {
      font-family:roboto,arial;
      font-size:16px;
    }
  .magnifying-glass {
    position:relative;
    align-items:center;
    margin-right:7px;
    height:40px;
    width:40px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(51, 51, 51);
    border-radius: 50%;
    background-color: rgb(31, 31, 31);
  }
    .magnifying-glass .tooltip{
      display: flex;
      justify-content:center;
      position:absolute;
      background-color:rgb(51, 51, 51);
      color:gray;
      padding:5px;
      left:-80px;
      bottom:-30px;
      border-radius:3px;
      opacity:0;
      pointer-events:none;
      white-space:nowrap;
    }
    .magnifying-glass:hover {
      transition: transform 1s ease-in-out;
      transform: rotate(360deg);
      border-color:transparent;
      transition: 1s ;
    }
    
    .magnifying-glass:hover .tooltip {
      opacity:1;
      transition: 0.5s;
      transition-delay:1s;
      
    }
    .magnifying-glass-icon{
      height: 20px;
    }

.header-right-section {
  display:flex;
  align-items:center;
  width:100px;
  justify-content:center;
  flex-shrink:0;
  background:rgb(31, 31, 31);
  border-radius:30px;
  margin-right:10px;
}
